@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(173, 75%, 43%, 0.47);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(28, 192, 174, 0.47);
}

::-webkit-scrollbar-track {
  background: hsla(173, 63%, 47%, 0.47);
}